<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoying.luoojbackendquestionservice.mapper.ContestMapper">

    <resultMap id="BaseResultMap" type="com.luoying.luoojbackendmodel.entity.Contest">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="award" column="award" jdbcType="VARCHAR"/>
            <result property="tips" column="tips" jdbcType="VARCHAR"/>
            <result property="questions" column="questions" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,startTime,
        endTime,duration,award,
        tips,questions,userId,
        status,createTime,updateTime,
        isDelete
    </sql>
</mapper>
