<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoying.luoojbackendquestionservice.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.luoying.luoojbackendmodel.entity.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="difficulty" column="difficulty" jdbcType="TINYINT"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
        <result property="submitNum" column="submitNum" jdbcType="BIGINT"/>
        <result property="acceptedNum" column="acceptedNum" jdbcType="BIGINT"/>
        <result property="judgeConfig" column="judgeConfig" jdbcType="VARCHAR"/>
        <result property="judgeCase" column="judgeCase" jdbcType="VARCHAR"/>
        <result property="comments" column="comments" jdbcType="BIGINT"/>
        <result property="thumbNum" column="thumbNum" jdbcType="BIGINT"/>
        <result property="favourNum" column="favourNum" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <!--查询上一道题目-->
    <select id="getPrevQuestion" resultType="long">
        select id
        from ${tableName}
        order by id >= #{questionId}, id desc limit 1
    </select>

    <!--查询下一道题目-->
    <select id="getNextQuestion" resultType="long">
        select id
        from ${tableName}
        order by id &lt;= #{questionId}, id asc limit 1
    </select>

    <sql id="Base_Column_List">
        id,title,content,
        difficulty,tags,answer,
        submitNum,acceptedNum,judgeConfig,
        judgeCase,comments,thumbNum,
        favourNum,userId,createTime,
        updateTime,isDelete
    </sql>


</mapper>
