<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoying.luoojbackendquestionservice.mapper.QuestionSubmitMapper">

    <resultMap id="BaseResultMap" type="com.luoying.luoojbackendmodel.entity.QuestionSubmit">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="questionId" column="questionId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="judgeInfo" column="judgeInfo" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,language,questionId,
        userId,code,judgeInfo,
        status,createTime,isDelete
    </sql>

    <select id="selectPage" resultType="com.luoying.luoojbackendmodel.entity.QuestionSubmit">
        select * from question_submit
        <where>
           <if test="questionSubmitQueryRequest.language != null">and language like #{questionSubmitQueryRequest.language}</if>
           <if test="questionSubmitQueryRequest.questionId != null">and questionId = #{questionSubmitQueryRequest.questionId}</if>
           <if test="questionSubmitQueryRequest.userId != null">and userId = #{questionSubmitQueryRequest.userId}</if>
           <if test="questionSubmitQueryRequest.status != null">and status = #{questionSubmitQueryRequest.status}</if>
        </where>
    </select>
</mapper>
